.main-container{
  display: flex;
  margin-left: 10%;
}

.main-container-tweet-part{
  padding: 50px;
}

.tweet-list{
  list-style: none;
  text-align: left;
}

.tweet-list li span{
  background-color:red;
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.tweet-list li{
  padding: 10px;
}

.tweet-input{
  padding: 10px;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: rgba(128, 128, 128, 0.24);
}